* {
    box-sizing: border-box;
}
html, body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background: #bebebe;
}
body, td, textarea, input, select, button{
    color:#5e5e5e;
    font:18px Arial, sans-serif;
    font-weight:400;
}
input, select{
    padding:3px;
    border-radius:3px;
    border: 1px solid #C8C8C8;
    background:#FFFFFF;
    font-weight: 300;
}
textarea{
    font-weight: 300;
}
select{
    padding: 0 1em 0 0;
    /*min-width: 35%;*/
    background:url("../img/select_arrow.png") no-repeat scroll right #FFFFFF;
    -webkit-appearance: none;
    -moz-appearance: none; /*no longer works, see http://www.currelis.com/firefox-30-0-select-arrow-css-longer-works.html*/
    text-indent: 1px;
    text-overflow: '';
}
select::-ms-expand {
    display: none;
}
/*input:focus, select:focus {
    box-shadow: 0 0 1px 1px #3399FF !important;
}*/
a {
    color: #006177;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: #00718b;
}
h1{
    font-size:1.0625rem;
    box-shadow: 0 0 1px 1px #ffffff;
}
h2{
    font-size:1.0625rem;
    font-weight:400;
    margin: 0 0 0.5% 0;
    color: #556270;
}
h3{
    color: #556270;
    font-size: 1.06rem;
    font-weight: 300;
    margin: 0;
    padding: 0.75em 0 0.25em;
    text-shadow: 0 0 2px #FFFFFF;
}
.relative{
    position: relative;
}
.inline_block{
    display: inline-block;
}
.firstDisplayNone{
    display: none;
}
.clearBoth{
    clear: both;
}
/* pure button*/
.pure-button{
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    background:  #f8f8f8;
    border-color: #d9d9d9;
    color: #6e6e6e;
    padding: 3px 10px;
}
.pure-button:hover{
    color: #0c1b00;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.pure-button:active{
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset, 0 0 6px rgba(0,0,0,0.2) inset;
}
/*custom checkbox*/
.checkbox{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: #FFFFFF;
    border: 1px #e8e8e8 solid;
    cursor: default;
}
.active.checkbox{
    background: URL("../img/ok.svg") center/0.75em no-repeat #FFFFFF;
}
/*стили каркаса сайта*/
.wrapper{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
}
.main{
    height: calc(100% - 2.5em); /*2.5em header height*/
    overflow: auto;
    position: relative;
    margin-top: 0.25em;
}
.hidden{
    display: none;
}
/*навигация*/
.header{
    display: flex;
    min-height: 2.5em;
    max-height: 2.5em;
    height: 2.5em;
    line-height: 2em;
    background: #6bac00;
    box-shadow: 0 2px 2px 0 rgb(35, 157, 33);
}
.header > div{
    margin: 0 0.5em;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    opacity: 0.85;
    color: #FFFFFF;
    font-size: 1.75em;
}
.header > div > i{
    vertical-align: middle;
}
.header > .navigationToggle{
    width: 100%;
    cursor: default;
    opacity: 1;
    font-size: 1rem;
    vertical-align: middle;
}
.header > .navigationToggle > div{
    display: inline-block;
    vertical-align: sub;
}
.header > div:hover{
    opacity: 1;

}
.navigation{
    text-align: left;
    padding: 0.5em 0;
    color: #666666;
    overflow : auto;
}
.navigation a{
    display: block;
    padding: 0.5em 0 0.5em 0.25em;
    margin: 0.15em 0;
    border-left: 15px solid rgba(0, 0, 0, 0);
    color : #3a3a3a;
}
.navigation a.active, .navigation a:hover{
    background-color: rgba(0,0,0, 0.1);
}
.userProfile{
    width: 100%;
    background-color: #6bac00;
    text-align: left;
    padding: 0.5em;
    color: #FFFFFF;
    position: relative;
}
.userProfile > .avatar{
    background: #cfcfcf;
    border-radius: 2.5em;
    cursor: pointer;
    height: 6em;
    text-align: center;
    width: 6em;
    display: inline-block;
}
.userProfile > .avatar > img{
    border-radius: 3em;
    height: 100%;
    max-width: 100%;
}
.userProfile > .fullName{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: right;
    width: calc(100% - 6em);
    display: inline-block;
    height: 6em;
    padding: 2.5em 0 0 1em;
}
.userProfile .controls{
    position: absolute;
    right: 0.25em;
    color: #FFFFFF;
    opacity: 0.85;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
}
.userProfile .controls:hover{
    opacity: 1;
}
.userProfile .clickExit{
    top: 0.25em;
}
.userProfile .clickSettings{
    bottom: 0.25em;
}
.tagsNavList > a{
    border-left: 15px solid;
    border-color: black;
    font-weight: 100;
}
.tagsNavList > a.color-e57373{
    border-color: #e57373;
}
.tagsNavList > a.color-f06292{
    border-color: #f06292;
}
.tagsNavList > a.color-ba68c8{
    border-color: #ba68c8;
}
.tagsNavList > a.color-9575cd{
    border-color: #9575cd;
}
.tagsNavList > a.color-7986cb{
    border-color: #7986cb;
}
.tagsNavList > a.color-4fc3f7{
    border-color: #4fc3f7;
}
.tagsNavList > a.color-4dd0e1{
    border-color: #4dd0e1;
}
.tagsNavList > a.color-4db6ac{
    border-color: #4db6ac;
}
.tagsNavList > a.color-81c784{
    border-color: #81c784;
}
.tagsNavList > a.color-aed581{
    border-color: #aed581;
}
.tagsNavList > a.color-dce775{
    border-color: #dce775;
}
.tagsNavList > a.color-fff176{
    border-color: #fff176;
}
.tagsNavList > a.color-ffd54f{
    border-color: #ffd54f;
}
.tagsNavList > a.color-ffb74d{
    border-color: #ffb74d;
}
.tagsNavList > a.color-ff8a65{
    border-color: #ff8a65;
}
.tagsNavList > a.color-90a4ae{
    border-color: #90a4ae;
}

/*Клёво отображающаяся менюха*/
.menu {
    position: absolute;
    /*    left: 0;*/
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 150;
}

.menu--visible {
    pointer-events: auto;
}

.app-menu {
    background-color: #fff;
    position: relative;
    max-width: 400px;
    width: 85%;
    min-width: 150px;
    height: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateX(-103%);
    transform: translateX(-103%);
    display: flex;
    flex-direction: column;
    will-change: transform;
    z-index: 160;
    pointer-events: auto;
}

.menu--visible .app-menu {
    -webkit-transform: none;
    transform: none;
}

.menu--animatable .app-menu {
    transition: all 130ms ease-in;
}

.menu--visible.menu--animatable  .app-menu {
    transition: all 330ms ease-out;
}

.menu:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    will-change: opacity;
    pointer-events: none;
    transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
}

.menu--visible.menu:after {
    opacity: 1;
    pointer-events: auto;
}
.menu-icon {
    /*content: "Menu";
    color: #fff;
    background-color: #666;
    width: 40px;
    height: 40px;*/
}

.menu:after {
    width: 100%;
    height: 100%;
}

/*
    login module
*/
.login form{
    display: inline-block;
}
.login input{
    margin: 0.25em 0 0 0;
}
.login .forgotPassword{
    font-size: 0.86em;
    text-align: right;
    color: #6e6e6e;
    display: block;
    margin: 0.25em;
}
/*
    DocList module
*/
.documentListCollectionView{
    text-align: left;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.documentListCollectionView .documentListControls{
    text-align: right;
    padding: 0.25em;
}
.documentListCollectionView .documentListControls .previous,
.documentListCollectionView .documentListControls .next{
    display: inline-block;
    border: 1px solid #cecece;
    border-radius: 0.25em;
    padding: 1em;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: #f9f9f9;
    background-position: center;
    background-size: 85%;

}
.documentListCollectionView .documentListControls .previous{
    background-image: URL("../img/prev_arrow.svg");
}
.documentListCollectionView .documentListControls .next{
    background-image: URL("../img/next_arrow.svg");
}
.documentListCollectionView .documentListContent{
    height: 100%;
    overflow: auto;
}
.documentListCollectionView .documentListContent > .documentListView{
    padding: 0.5em 0.5em 0.75em 0.5em;
    border-bottom: 1px solid #bebebe;
    height: 3.5em;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    cursor: pointer;
}
.documentListCollectionView .documentListContent > .documentListView:hover{
    background: #fefefe;
}
.documentListCollectionView .documentListContent > .documentListView:last-child{
    margin: 0;
    border: none;
}
.documentListCollectionView .documentListContent > .documentListView > .content{
    margin: 0 0.5em;
    min-width: 0;
    width: 100%;
}
.documentListCollectionView .documentListContent > .documentListView > .content > .name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
.documentListCollectionView .documentListContent > .documentListView > .checkboxOrIcon{
    width: 2.55em;
    line-height: 1.75em;
    text-align: center;
    border-radius: 100%;
    background-color: #6bac00;
    padding: 0.25em;
    color: #f8f8f8;
}
.documentListCollectionView .documentListContent > .documentListView > .date{
    width: 3em;
}
.documentListCollectionView .documentListShareView{
    display: inline-block;
    max-height: 1.15em;
    overflow: hidden;
    position: relative;
    text-align: justify;
    white-space: normal;
    word-break: break-all;
    width: 100%;
}
.documentListCollectionView .documentListShareView .privateDoc{
    color: #bebebe;
    font-style: italic;
}
.documentListCollectionView .documentListShareView span[data-status-code="0"] > i{
    color : #f44336;
}
.documentListCollectionView .documentListShareView span[data-status-code="1"] > i{
    color : #ab47bc;
}
.documentListCollectionView .documentListShareView span[data-status-code="2"] > i{
    color : #42a5f5;
}
.documentListCollectionView .documentListShareView span[data-status-code="3"] > i{
    color : #5c9d21;
}
.documentListCollectionView .documentListShareView span[data-status-code="999999999"] > i{
    color : #dce775;
}
.documentListCollectionView .documentListShareView span[data-status-code="999999998"] > i{
    color : #ef5350;
}
.documentListCollectionView .documentListShareView:after{
    background-color: #FFFFFF; /*!IMPORTANT - switch color on background change*/
    content: "";
    height: 1em;
    margin-top: .2em;
    position: absolute;
    right: 0;
    width: 1em;
}
.documentListCollectionView .documentListShareView:before{
    margin-top: 2px;
    content: "...";
    float: right;
    position: relative;
}

/*
    DocView module
*/
.documentView{
    height: 100%;
}
.documentView .documentContent{
    height: calc(100% - 4em); /*3.875em is tabs total height*/
}
.documentView .shareListControls{
    margin-bottom: 1em;
    z-index: 666;
}
.documentView .addShares{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: -2.5em;
    padding-top: 2.5em;
    min-height: 10em;
}
.documentView .addShares .shareOptions{
    flex-grow: 1;
    overflow: auto;
    height: 50%;
}
.documentView .addShares .shareOption{
    background: #f8f8f8;
    border-left: 2px solid red;
    height: 3.5em;
    margin: 1em 0.5em;
    overflow: auto;
    padding: 0.5em;
    text-align: left;
    position: relative;
}
.documentView .addShares .shareOption .name{
    color: #343434;
    margin-left: 3rem;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 3.5rem;
}
.documentView .addShares .shareOption .statusText{
    margin-left: 3rem;
    font-size: 0.89em;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 3.5rem;
}
.documentView .addShares .shareOption .icon{
    background: #cfcfcf;
    border-radius: 2.5em;
    cursor: pointer;
    float: left;
    height: 100%;
    text-align: center;
    width: 2.5em;
}
.documentView .addShares .shareOption .icon.action{
    height: auto;
    line-height: 2.5em;
    margin-top: -1.2em;
    position: absolute;
    right: 0.5em;
    top: 50%;
}
.documentView .addShares .shareOption .icon.action i{
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    opacity: 0.5;
}
.documentView .addShares .shareOption .icon.action:hover i{
    opacity: 1;
}
.documentView .addShares .shareOption .icon.img > img{
    border-radius: 2.5em;
    height: 100%;
    max-width: 100%;
}
.documentView .addShares .shareInputWrapper{
    flex-basis: auto;
    position: relative;
}
.documentView .addShares .shareInput{
    width: 80%;
}
.documentView .documentTabs{
    display: flex;
    padding: 0.5em;
    border-bottom: 2px solid #5c9d21;
    margin-bottom: 1em;
    overflow: auto;
}
.documentView .documentTabs > div{
    flex-grow: 1;
    cursor: pointer;
    margin: 0 0.5em;
    border: 1px solid #bebebe;
    border-radius: 1px;
    padding: 0.25em;
}
.documentView .documentTabs > div:hover, .documentView .documentTabs > div.active{
    background: #6bac00;
    color: #FFFFFF;
}
.documentView .documentContent .preview a{
    display: inline-block;
}
.documentView .documentContent .preview img{
    width: 100%;
}
.documentView .documentContent .documentControls{
    display: flex;
    padding: 0 1em 1em;
}
.documentView .documentContent .sendShare{
    background-color: #5c9d21;
    color: #f8f8f8;
}
.documentView .documentContent .sendShare:hover{
    color: #FFFFFF;
}
.documentView .documentContent .documentControls > .documentName{
    border: 1px solid #b0b0b0;
    width: 100%;
    transition: border 0.3s ease-in-out 0s;
    box-shadow: none;
    outline: none;
    border-radius: 3px;
}
.documentView .documentContent .documentControls > span.documentName{
    line-height: 26px;
    text-align: left;
    padding: 0 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: not-allowed;
    background: #f8f8f8;
}
.documentView .documentContent .documentControls > input.documentName:focus{
    border-color: #5c9d21;
}
.documentView .documentContent .documentControls > div{
    margin: 0 0 0 1em;
}
.shareListCollectionView{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.shareListView{
    background: #f8f8f8;
    border-left: 2px solid red;
    height: 3.5em;
    margin: 1em 0.5em;
    overflow: auto;
    padding: 0.5em;
    text-align: left;
}
.shareListView .statusText{
    margin-left: 3rem;
    font-size: 0.89em;
}
.shareListView .name{
    margin-left: 3rem;
    color: #343434;
}
.shareListView .icon{
    background: #cfcfcf;
    border-radius: 2.5em;
    cursor: pointer;
    float: left;
    height: 100%;
    text-align: center;
    width: 2.5em;
}
.shareListView .icon.action{
    line-height: 2.5em;
}
.shareListView .icon.action i{
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    opacity: 0.5;
}
.shareListView .icon.action:hover i{
    opacity: 1;
}
.shareListView .icon.img > img{
    border-radius: 2.5em;
    height: 100%;
    max-width: 100%;
}

/*fancyAutocomplete stuff*/

/*.fancyAutoComplete {
    position: relative;
}
.fancyAutoComplete:hover .js-active {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}*/
.autoCompleteWrap {
    background: #fefefe none repeat scroll 0 0;
    border: 1px solid #ccc;
    display: none;
    /*flex-grow: 1;*/
    overflow: auto;
    width: 100%;
    border-bottom: 1px solid #cecece;
    max-height: 16em;
    min-height: 3.3em;
    /*min-height: 3.12em;
    height: 50%;*/
}
.autoCompleteWrap > div {
    cursor: pointer;
    min-height: 42px;
    overflow: auto;
    padding: 0.15em;
    position: relative;
}
.autoCompleteWrap > div > img {
    border-radius: 50%;
    height: 42px;
    left: 0;
    margin: 0 6px 0 4px;
    position: absolute;
    top: calc(50% - 21px);
    width: 42px;
}
.autoCompleteWrap > div > p {
    color: #6e6e6e;
    font-size: 12px;
    font-weight: lighter;
    margin: 0 0 0 52px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.autoCompleteWrap > div > p:first-of-type {
    color: #0c1b00;
    font-size: 14px;
    font-weight: normal;
}
.autoCompleteWrap > div > p > b {
    color: #0c1b00;
    font-weight: normal;
}
.autoCompleteWrap > div > p:first-of-type > b {
    font-weight: bold;
}
.autoCompleteWrap > div.js-active {
    background: #e5e5e5 none repeat scroll 0 0;
}
.autoCompleteWrap > div:first-child {
    margin: 0;
}
.shareInputWrapper.js-active ~ .autoCompleteWrap {
    display: initial;
}