<div class="shareInputWrapper">
    <input type="text" name="shareInput" class="shareInput" placeholder="Введіть контрагента чи email">
    <button class="pure-button addShareOption" title="Додати контрагента">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
    </button>
</div>
<div class="shareOptions">

</div>