<span class="checkboxOrIcon" shareCount="<%=shareCount%>"><%=shareCount%></span>
<div class="content">
    <span class="name"><%=name%></span>
    <div class="documentListShareView">

    </div>
</div>
<div class="date"><%=humanDate%></div>
