<div class="documentTabs">
    <div class="back">Назад</div>
    <div class="active preview" data-tab="preview">Документ</div>
    <div class="signs" data-tab="signList">Подписи</div>
    <div class="shares" data-tab="shareListCollectionView">Доступы</div>
</div>
<div class="documentContent">
    <div class="preview">
        <div class="documentControls">
            <%if(isAuthor){%>
                <input class="documentName" name="documentName" value="<%=name%>"/>
            <%}else{%>
                <span class="documentName"><%=name%></span>
            <%}%>
            <div class="addTag pure-button"><i class="fa fa-tags fa-lg" aria-hidden="true"></i></div>
            <div class="download pure-button"><a href="#"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a></div>
            <%if(status < 10){%>
                <div class="delete pure-button"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></div>
            <%}else{%>
                <div class="delete pure-button"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></div>
                <div class="restore pure-button"><i class="fa fa-undo fa-lg" aria-hidden="true"></i></div>
            <%}%>
        </div>
        <a href="<%=pdfSrc%>" target="_blank">
            <img src="<%=imageSrc%>"/>
        </a>
    </div>
    <div class="signList hidden">

    </div>
    <div class="shareListCollectionView hidden">

    </div>
</div>
