<%
var tempColor, tempDataStatus;
for(var i in shares){
%>
    <span
            data-status-code="<%=shares[i]%>"
            data-status="<%=polyglot.t('textStatus'+shares[i])%>"
        >
            <i class="fa fa-1 <%=statusesImage[shares[i]]%>" aria-hidden="true"></i>&nbsp;<%=(friends[i]||i)%>
    </span>
<%}%>
<%if(emptyCheck){%>
    <span class="privateDoc">Приватний документ</span>
<%}%>