<h3>Вход в Папка24</h3>
<form>
    <div><input type="text" name="login" placeholder="Логин" required autofocus autocomplete="off" tabindex="1"/></div>
    <div><input type="password" name="password" placeholder="Пароль" required tabindex="2"/></div>
    <a href="#" class="forgotPassword">Забыли пароль?</a>
    <div><input type="submit" value="Вход" tabindex="3"/></div>
</form>