<div class="shareListControls">
    <div class="shareListContentControls">
        <button class="pure-button addShare" title="Надіслати запрошення для перегляду або підписання документа">
            <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i>
            Надати доступ
        </button>
    </div>
    <div class="addSharesControls hidden">
        <button class="pure-button undoAddShare" title="Повернутися">
            <i class="fa fa-undo fa-lg" aria-hidden="true"></i>
            Відмінити
        </button>
        <button class="pure-button sendShare" title="Надіслати запрошення для перегляду або підписання документа">
            <i class="fa fa-paper-plane fa-lg" aria-hidden="true"></i>
            Відправити
        </button>
    </div>
</div>
<div class="shareListContent">
<%if(!length){%>
    Має доступ тільки автор
<%}%>
</div>
<div class="addShares hidden">

</div>