<div class="icon img">
    <img src="<%=img%>" onerror="this.onerror=null; this.src = '<%=failImg%>'" title="<%=email%>"/>
</div>
<div class="name"><%=(name || email)%></div>
<div class="statusText"><%=company%></div>
<div class="icon action remove">
    <span title="Отозвать"><i class="fa fa-times" aria-hidden="true"></i></span>
</div>