<%if(deleteFlag){%>
    <div class="icon action">
        <span title="Отозвать"><i class="fa fa-times" aria-hidden="true"></i></span>
    </div>
<%}else{%>
    <div class="icon img">
        <img src="<%=img%>" onerror="this.onerror=null; this.src = '<%=failImg%>'" title="<%=email%>"/>
    </div>
<%}%>
<div class="name"><%=name%></div>
<div class="statusText"><%=polyglot.t('textStatus'+statusTextCode)%></div>