<i class="fa fa-sign-out fa-lg controls clickExit" aria-hidden="true"></i>
<div class="avatar">
    <img src="<%=img%>" onerror="this.onerror=null; this.src = '<%=failImg%>'" title="<%=login%>"/>
</div>
<div class="fullName"><%=name%></div>
<i class="fa fa-cog fa-lg controls clickSettings" aria-hidden="true"></i>