<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Папка24</title>
    <link rel="icon" type="image/png" href="/{{%VERSION%}}/design/img/favicon.png"/>
    <link rel="stylesheet" href="/{{%VERSION%}}/design/css/pureawesome.css"/>
    <link rel="stylesheet" href="/{{%VERSION%}}/design/css/base.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="wrapper">
    <div class='menu'>
        <div class="app-menu">
            <div class="userProfile">

            </div>
            <div class="navigation">
            </div>
        </div>
    </div>
    <div class="header hidden">
        <div class="menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></div>
        <div class="navigationToggle">
            <div class="titleView"></div>
            <div class="searchView hidden"></div>
        </div>
        <div class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
    </div>
    <div class="main">

    </div>
</div>

<script data-main="/{{%VERSION%}}/js/config" src='/lib/require.2.3.2.js'></script>
</body>
</html>